<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!-- Official NuGet package source -->
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    
    <!-- Sitecore NuGet feed -->
    <add key="Sitecore NuGet" value="https://sitecore.myget.org/F/sc-packages/api/v3/index.json" />
    
    <!-- Sitecore public NuGet feed for 10.4 -->
    <add key="Sitecore Public NuGet" value="https://nuget.sitecore.com/resources/v3/index.json" />
  </packageSources>
  
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
  
  <config>
    <add key="repositoryPath" value="packages" />
  </config>
</configuration>