<?xml version="1.0" encoding="utf-8"?>
<!-- 
  Sitecore Configuration for TekcentDemo Website
  This file contains the minimal Sitecore configuration for a 10.4 instance
-->
<configuration>
  <sitecore>
    <!-- Sites Configuration -->
    <sites>
      <site name="tekcentdemo"
            virtualFolder="/"
            physicalFolder="/"
            rootPath="/sitecore/content/TekcentDemo"
            startItem="/Home"
            database="web"
            domain="extranet"
            allowDebug="true"
            cacheHtml="true"
            htmlCacheSize="50MB"
            registryCacheSize="0"
            viewStateCacheSize="0"
            xslCacheSize="25MB"
            filteredItemsCacheSize="10MB"
            enablePreview="true"
            enableWebEdit="true"
            enableDebugger="true"
            disableClientData="false"
            hostName="tekcentdemo.local"
            targetHostName="tekcentdemo.local" />
    </sites>

    <!-- Databases -->
    <databases>
      <!-- Additional database configurations if needed -->
    </databases>

    <!-- Settings -->
    <settings>
      <setting name="ItemNameValidation" value="^[a-zA-Z0-9._-]+$" />
      <setting name="InvalidItemNameChars" value="&lt;&gt;|[]{}&quot;" />
      <setting name="ShowErrorOnCaseMismatch" value="false" />
    </settings>

    <!-- Processors -->
    <processors>
      <!-- Custom processors can be added here -->
    </processors>

    <!-- Events -->
    <events>
      <!-- Custom event handlers can be added here -->
    </events>

    <!-- Commands -->
    <commands>
      <!-- Custom commands can be added here -->
    </commands>

    <!-- Pipelines -->
    <pipelines>
      <!-- Custom pipeline processors can be added here -->
      <mvc.getModel>
        <!-- Model binding processors -->
      </mvc.getModel>
      
      <mvc.renderRendering>
        <!-- Rendering processors -->
      </mvc.renderRendering>
    </pipelines>

  </sitecore>
</configuration>