<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="sitecore" type="Sitecore.Configuration.ConfigReader, Sitecore.Kernel" />
  </configSections>

  <connectionStrings>
    <!-- Sitecore connection strings for 10.4 -->
    <add name="core" connectionString="Data Source=.\SQL2019;Initial Catalog=Sitecore.Core;Integrated Security=True" />
    <add name="master" connectionString="Data Source=.\SQL2019;Initial Catalog=Sitecore.Master;Integrated Security=True" />
    <add name="web" connectionString="Data Source=.\SQL2019;Initial Catalog=Sitecore.Web;Integrated Security=True" />
    <add name="reporting" connectionString="Data Source=.\SQL2019;Initial Catalog=Sitecore.Reporting;Integrated Security=True" />
    <add name="experienceforms" connectionString="Data Source=.\SQL2019;Initial Catalog=Sitecore.ExperienceForms;Integrated Security=True" />
    <add name="exm.master" connectionString="Data Source=.\SQL2019;Initial Catalog=Sitecore.EXM.Master;Integrated Security=True" />
    <add name="messaging" connectionString="Data Source=.\SQL2019;Initial Catalog=Sitecore.Messaging;Integrated Security=True" />
    <add name="xdb.processing.pools" connectionString="Data Source=.\SQL2019;Initial Catalog=Sitecore.Processing.Pools;Integrated Security=True" />
    <add name="xdb.referencedata" connectionString="Data Source=.\SQL2019;Initial Catalog=Sitecore.ReferenceData;Integrated Security=True" />
    <add name="xdb.processing.tasks" connectionString="Data Source=.\SQL2019;Initial Catalog=Sitecore.Processing.Tasks;Integrated Security=True" />
  </connectionStrings>

  <appSettings>
    <!-- Sitecore 10.4 settings -->
    <add key="vs:EnableBrowserLink" value="false" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="owin:appStartup" value="SitecoreApplication" />
    
    <!-- License file path -->
    <add key="LicenseFile" value="/App_Data/license.xml" />
    
    <!-- Data folder -->
    <add key="dataFolder" value="/App_Data" />
    
    <!-- Serialization settings -->
    <add key="sitecore:define" value="TRACE" />
  </appSettings>

  <system.web>
    <!-- Target framework -->
    <compilation debug="true" targetFramework="4.8">
      <assemblies>
        <add assembly="*" />
      </assemblies>
    </compilation>

    <!-- HTTP Runtime -->
    <httpRuntime targetFramework="4.8" maxRequestLength="512000" executionTimeout="600" />

    <!-- Authentication -->
    <authentication mode="None">
      <forms loginUrl="/sitecore/login" />
    </authentication>

    <!-- Membership -->
    <membership defaultProvider="sitecore" hashAlgorithmType="SHA1">
      <providers>
        <clear />
        <add name="sitecore" type="Sitecore.Security.SitecoreMembershipProvider, Sitecore.Kernel" />
      </providers>
    </membership>

    <!-- Role Manager -->
    <roleManager defaultProvider="sitecore" enabled="true">
      <providers>
        <clear />
        <add name="sitecore" type="Sitecore.Security.SitecoreRoleProvider, Sitecore.Kernel" />
      </providers>
    </roleManager>

    <!-- Profile -->
    <profile defaultProvider="sitecore" enabled="true" inherits="Sitecore.Security.UserProfile, Sitecore.Kernel">
      <providers>
        <clear />
        <add name="sitecore" type="Sitecore.Security.SitecoreProfileProvider, Sitecore.Kernel" />
      </providers>
      <properties>
        <clear />
        <add type="System.String" name="SC_UserData" />
      </properties>
    </profile>

    <!-- Session State -->
    <sessionState mode="InProc" cookieless="false" regenerateExpiredSessionId="false" timeout="20" />

    <!-- Globalization -->
    <globalization requestEncoding="UTF-8" responseEncoding="UTF-8" />

    <!-- Custom Errors -->
    <customErrors mode="RemoteOnly" />

    <!-- Pages -->
    <pages validateRequest="false" controlRenderingCompatibilityVersion="4.0" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="sc" namespace="Sitecore.Web.UI.WebControls" assembly="Sitecore.Kernel" />
        <add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </controls>
    </pages>

    <!-- HTTP Handlers -->
    <httpHandlers>
      <add verb="*" path="sitecore_media.ashx" type="Sitecore.Resources.Media.MediaRequestHandler, Sitecore.Kernel" />
      <add verb="*" path="sitecore_xaml.ashx" type="Sitecore.Web.UI.XamlSharp.Xaml.XamlPageHandlerFactory, Sitecore.Kernel" />
      <add verb="*" path="sitecore_icon.ashx" type="Sitecore.Resources.IconRequestHandler, Sitecore.Kernel" />
      <add verb="*" path="sitecore_temp.ashx" type="Sitecore.Resources.TempRequestHandler, Sitecore.Kernel" />
      <add verb="*" path="sitecore_feed.ashx" type="Sitecore.Shell.Feeds.FeedRequestHandler, Sitecore.Kernel" />
    </httpHandlers>

    <!-- HTTP Modules -->
    <httpModules>
      <add name="SitecoreHttpModule" type="Sitecore.Nexus.Web.HttpModule, Sitecore.Nexus" />
    </httpModules>
  </system.web>

  <system.webServer>
    <!-- Default Document -->
    <defaultDocument>
      <files>
        <clear />
        <add value="default.aspx" />
      </files>
    </defaultDocument>

    <!-- Handler Mappings -->
    <handlers>
      <add name="Sitecore.MediaRequestHandler" verb="*" path="sitecore_media.ashx" type="Sitecore.Resources.Media.MediaRequestHandler, Sitecore.Kernel" preCondition="integratedMode" />
      <add name="Sitecore.XamlRequestHandler" verb="*" path="sitecore_xaml.ashx" type="Sitecore.Web.UI.XamlSharp.Xaml.XamlPageHandlerFactory, Sitecore.Kernel" preCondition="integratedMode" />
      <add name="Sitecore.IconRequestHandler" verb="*" path="sitecore_icon.ashx" type="Sitecore.Resources.IconRequestHandler, Sitecore.Kernel" preCondition="integratedMode" />
      <add name="Sitecore.TempRequestHandler" verb="*" path="sitecore_temp.ashx" type="Sitecore.Resources.TempRequestHandler, Sitecore.Kernel" preCondition="integratedMode" />
      <add name="Sitecore.FeedRequestHandler" verb="*" path="sitecore_feed.ashx" type="Sitecore.Shell.Feeds.FeedRequestHandler, Sitecore.Kernel" preCondition="integratedMode" />
    </handlers>

    <!-- Modules -->
    <modules>
      <add name="SitecoreHttpModule" type="Sitecore.Nexus.Web.HttpModule, Sitecore.Nexus" preCondition="integratedMode" />
    </modules>

    <!-- Security -->
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="524288000" />
      </requestFiltering>
    </security>
  </system.webServer>

  <!-- Sitecore Configuration -->
  <sitecore configSource="App_Config\Sitecore.config" />

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <!-- Assembly redirects for Sitecore 10.4 -->
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.9.0" newVersion="5.2.9.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>