<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    Debug configuration transformations for Sitecore 10.4
  -->

  <!-- Set debug mode to true -->
  <system.web>
    <compilation xdt:Transform="SetAttributes" debug="true" />
    <customErrors xdt:Transform="SetAttributes" mode="Off" />
  </system.web>

  <!-- Enable detailed errors -->
  <appSettings>
    <add key="sitecore:define" value="DEBUG,TRACE" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>
</configuration>